{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Faith Bamgboye - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Faith Bamgboye."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
        <div id="Zuri_I4G" class="quickFade">
			<img src="{% static 'images/Zuri_I4G.jpg' %}" alt="Zuri Internship" />
		</div>
		<div id="mugshot" class="quickFade">
			<img src="{% static 'images/mugshot.jpg' %}" alt="Faith Bamgboye" />
		</div>
		<div id="name">
			<h1 class="quickFade delayTwo">Faith Bamgboye</h1>
			<h2 class="quickFade delayThree">Python Programmer</h2>
		</div>
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:bamgboyeabimbola17@gmail.com" target="_blank">bamgboyeabimbola17@gmail.com</a></li>
				<li>w: <a href="http://www.linkedin.com/in/faith-bamgboye-0114a3127">www.linkedin.com/in/faith-bamgboye-0114a3127</a></li>
				<li>m: 07065483613</li>
				<li>learn more @ www.intership.zuri.team</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>A reliable and industrious engineer-in-training, with interest in IT, data analysis and automation. Skilled in Python Programming Language, Microsoft Excel, Microsoft PowerPoint and Microsoft Word. Good team player with ability to cultivate key professional relationship with team members. I am a go getter, ready to learn new skills and providing solution to challenges.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Microsoft Office Suite Sub-Team Lead, SideHustle Boot Camp</h2>
					<p class="subDetails">July 2021—August 2021</p>
					<p>•	Creating weekly presentation slides for the FixitNg App project.</p>
				</article>
				
				<article>
					<h2>IT Manager, Divine Legacy International Academy</h2>
					<p class="subDetails">2019—Present</p>
					<p>•	Setting up the operating systems of computers</p>
					<p>•	Installation of software applications on the computers</p>
				</article>
				
				<article>
					<h2>Production Engineering Intern, Heritage Energy Operational Services Limited</h2>
					<p class="subDetails">July 2019—Dec 2019</p>
					<p>•	Worked in a diverse team of engineers and interns to ensure efficient running of the flow station.</p>
					<p>•	Monitored and prepared daily process flow surveillance sheet used to optimize all the wells in field</p>
					<p>•	Monitored equipment parameters and made recommendations to ensure optimum performance.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Microsoft Excel</li>
					<li>Microsft PowerPoint</li>
					<li>Microsoft Word</li>
					<li>Python Programming</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Federal University of Petroleum Resources, Delta State</h2>
					<p class="subDetails">B.Eng</p>
					<p>Petroleum Engineering</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
</div>
		</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>